name: Build Jekyll

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
          bundler-cache: true

      - name: Build site
        run: bundle exec jekyll build

      - name: Upload _site
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: _site/
